*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #181717;
}

.card{
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid rgba(255,255,255,0.1);
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    transition: 0.4s;
    backdrop-filter: blur(10px);
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 35px rgba(168, 85, 247, 0.6);
}

.foto{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #A855F7;
    object-fit: cover;
    margin-bottom: 20px;
}

h1{
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}

.profissao{
    color: #A855F7;
    font-size: 16px;
    margin-bottom: 20px;
}

.bio{
    color: #d1d1d1;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 25px;
    cursor: pointer;
}

.skills span{
    background: rgba(255,255,255,0.08);
    color: #A855F7;
    padding: 8px 15px;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.08);
}

.skills span:hover{
    background: #A855F7;
    color: white;
}

.social{
    display: flex;
    justify-content: center;
    gap: 18px;
}

.social a{
    width: 45px;
    height: 45px;
    background: rgba(255,255,255,0.08);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.08);
}

.social a:hover{
    transform: translateY(-5px) scale(1.1);
    background: #A855F7;
    color: white;
}